
/* Base styling */
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    background-color: #fff;
    margin: 0;
    padding: 0;
    color: #333;
    overflow-x: hidden; /* Prevent horizontal overflow */
    font-size: 16px;
}

a{
    color: #000;
}

.nav-link{
    color: #333 !important;
}

.nav{
    --bs-nav-link-padding-x: 0px;
}

.btn{
    background-color: #fff;
    color: #666666 !important;
    border: 1px solid #999999;
}

/* Sidebar styling */
#sidebar {
    background-color: #fff;
    border-right: 1px solid #e0e0e0;
    height: 100vh;  /* Full viewport height */
    padding: 20px;
    position: fixed;  /* Fixed position */
    top: 0;
    left: 0;
    z-index: 1000;
    overflow-y: auto; /* Allow vertical scrolling if necessary */
}

.sidebar {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Full viewport height */
}

.table {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 0; /* Remove margin to prevent overflow */
}

.table th, .table td {
    padding: 5px;
    text-align: left;
    vertical-align: middle;
}

.members-thumbnails {
    display: flex;
    align-items: center;
  }
  
  .member-img {
    width: 40px; /* Adjust the size of thumbnails */
    height: 40px;
    border-radius: 50%; /* To make them circular */
    margin-left: -15px; /* Negative margin to create overlap (25% of the width) */
    position: relative;
    z-index: 1; /* Layer control for overlapping */
    border: 2px solid white; /* Optional: Add a border to separate overlapping images visually */
  }
  
  .member-img:first-child {
    margin-left: 0; /* Ensure the first image does not have a negative margin */
  }
  
  .company-logo {
    width: 40px;
    height: 40px;
  }
  
  .user-avatar {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border: 2px solid #fff; /* Optional border for user avatar */
  }
  
  .badge {
    margin: 5px;
    font-size: 14px;
    padding: 5px 12px;
    border-radius: 8px;
}
.badge-custom-purple {
    background-color: #d3b3ff;
    color: #5e3bae;
    border: 1px solid #5e3bae;
}
.badge-custom-orange {
    background-color: #f9d7b9;
    color: #c07d3a;
    border: 1px solid #c07d3a;
}
.badge-custom-yellow {
    background-color: #fff5ba;
    color: #d4aa00;
    border: 1px solid #d4aa00;
}
.badge-custom-blue {
    background-color: #cfe9ff;
    color: #0056b3;
    border: 1px solid #0056b3;
}
.badge-custom-green {
    background-color: #c9f7c8;
    color: #3b7a57;
    border: 1px solid #3b7a57;
}
.badge-custom-red {
    background-color: #f5c6c6;
    color: #b30000;
    border: 1px solid #b30000;
}
.badge-custom-grey {
    background-color: #e2e3e5;
    color: #636c72;
    border: 1px solid #636c72;
}
.badge-custom-pink {
    background-color: #f6c7d9;
    color: #c2185b;
    border: 1px solid #c2185b;
}


.button-container {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}

.button-container .btn {
    flex-grow: 1;
    margin: 5px;
}

.sticky-bar {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    z-index: 1000;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
}